@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vkontakte</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/js/summernote/summernote.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>
<body>
    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react/16.11.0/umd/react.development.js"></script>
    <script crossorigin src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/16.11.0/umd/react-dom.development.js"></script>
    <header id="header" style="position: sticky; top:0; z-index:10; width: 100%; margin-bottom:2rem">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Vkontakte</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @if (Context.User.Identity.Name != null)
                {
                    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                        <ul class="navbar-nav flex-grow-1">
                            <li>
                                <a class="nav-link text-dark" asp-controller="Auth" asp-action="Logout">Выйти</a>
                            </li>
                        </ul>
                    </div>
                }
            </div>
        </nav>
    </header>
    <div class="container" style="width: 990px">
        <div role="main" class="pb-3" style="width: inherit; padding-bottom: 0 !important; margin-bottom: 0;">
            @if (Context.User.Identity.Name != null)
            {
                <div class="row" style="width: inherit">
                    <div class="col-2">
                        <ul class="nav nav-pills flex-column position-fixed" style="font-size:14px">
                            <li class="nav-item">
                                <a class="navigation nav-link" asp-controller="Users" asp-action="GetUserInfo" asp-route-id="@Context.User.Identity.Name">
                                    <svg style="margin-bottom:0.2rem" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-house-door-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z" />
                                        <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                                    </svg>
                                    Моя страница
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="navigation nav-link" asp-controller="Home" asp-action="Index">
                                    <svg style="margin-bottom:0.2rem" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-newspaper" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M0 2.5A1.5 1.5 0 0 1 1.5 1h11A1.5 1.5 0 0 1 14 2.5v10.528c0 .3-.05.654-.238.972h.738a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 1 1 0v9a1.5 1.5 0 0 1-1.5 1.5H1.497A1.497 1.497 0 0 1 0 13.5v-11zM12 14c.37 0 .654-.211.853-.441.092-.106.147-.279.147-.531V2.5a.5.5 0 0 0-.5-.5h-11a.5.5 0 0 0-.5.5v11c0 .278.223.5.497.5H12z" />
                                        <path d="M2 3h10v2H2V3zm0 3h4v3H2V6zm0 4h4v1H2v-1zm0 2h4v1H2v-1zm5-6h2v1H7V6zm3 0h2v1h-2V6zM7 8h2v1H7V8zm3 0h2v1h-2V8zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1zm-3 2h2v1H7v-1zm3 0h2v1h-2v-1z" />
                                    </svg>
                                    Новости
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="navigation nav-link" asp-controller="Messages" asp-action="Conversations">
                                    <svg style="margin-bottom:0.2rem" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-chat-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8 15c4.418 0 8-3.134 8-7s-3.582-7-8-7-8 3.134-8 7c0 1.76.743 3.37 1.97 4.6-.097 1.016-.417 2.13-.771 2.966-.079.186.074.394.273.362 2.256-.37 3.597-.938 4.18-1.234A9.06 9.06 0 0 0 8 15z" />
                                    </svg>
                                    Сообщения
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="navigation nav-link" asp-controller="Friends" asp-action="Index" asp-route-id="">
                                    <svg style="margin-bottom:0.2rem" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                                    </svg>
                                    Друзья
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="navigation nav-link" asp-controller="Blogs" asp-action="PublicsList">
                                    <svg style="margin-bottom:0.2rem" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-people-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd" d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                                    </svg>
                                    Блоги
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-7">
                        @RenderBody()
                    </div>
                    @RenderSection("Additional", required: false)
                </div>
            }
            else
            {
                if (Context.Request.Path == "/Auth/Login")
                {
                    @RenderBody()
                }
                else
                {
                    <div class="row" style="width: inherit">
                        <div class="col-2">
                            <div class="row">
                                <div class="col-12" style="background-color: #ffffff; border-radius: 4px; position: sticky; top: 70px">
                                    <form method="post" asp-action="Login" asp-controller="Auth" class="form-group">
                                        <label for="telephone" style="font-size:12px">Телефон</label>
                                        <input id="telephone" class="form-control" name="username" type="text" style="font-size:12px" />
                                        <label for="telephone" style="font-size:12px">Пароль</label>
                                        <input id="telephone" class="form-control" name="password" type="password" style="font-size:12px" />
                                        <button type="submit" class="btn btn-primary w-100" style="margin-top: 0.4rem; font-size:12px">Войти</button>
                                        <a asp-action="Login" asp-controller="Auth" class="btn btn-primary w-100" style="margin-top: 0.4rem; font-size: 12px">Регистрация</a>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-7">
                            @RenderBody()
                        </div>
                        @RenderSection("Additional", required: false)
                    </div>
                }
            }
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/summernote/summernote.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
